<template>
  <div id="root">
    <common-header></common-header>
    <router-view></router-view>
  </div>
</template>

<script>
  import Header from '../components/header'

  export default {
    name: 'App',
    data() {
      return {
      }
    },
    components: {
      "common-header": Header
    },
    created() {
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    padding: 0;
    margin: 0;
  }
</style>
