<template>
  <div id="root">
    <article>
      <h1>データ入力端末との接続</h1>
      <h2>IPアドレス</h2>
      <span>{{HOST}}</span>
      <h2>ポート</h2>
      <span>{{PORT}}</span>
    </article>
    <common-footer></common-footer>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  import CommonFooter from '../components/footer'

  export default {
    name: 'ConnectDevice',
    data() {
      return {
      }
    },
    computed: {
      ...mapState([
        "HOST",
        "PORT"
      ])
    },
    components: {
      "common-footer": CommonFooter
    },
    created() {
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
div#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;

  article {
    width: 50%;
    font-size: 3vh;

    h1 {
      margin-bottom: 0;
      width: 100%;
      font-size: 1.5em;
    }

    h2 {
      margin-left: 50px;
      font-size: 1.35em
    }

    span {
      margin: 0 0 0 75px;
      font-weight: bold;
      font-size: 1.25em;
    }
  }
}
</style>
