<template>
  <div id="root">
    <ul>
      <li>
        <link-button link="/operation-database/registration">
          入所者新規登録
        </link-button>
      </li>
      <!-- <li> -->
      <!--   <link&#45;button link="/operation&#45;database/delete&#45;data"> -->
      <!--     データ削除 -->
      <!--   </link&#45;button> -->
      <!-- </li> -->
      <li>
        <main-button v-on:click.native="ExportDB">
          データバックアップ
        </main-button>
      </li>
    </ul>

    <common-footer></common-footer>
  </div>
</template>

<script>
  import { ipcRenderer } from 'electron'

  import MainButton from '../components/button'
  import LinkButton from '../components/link_button'
  import CommonFooter from '../components/footer'

  export default {
    name: 'OperationDatabase',
    data() {
      return {
      }
    },
    components: {
      'main-button': MainButton,
      'link-button': LinkButton,
      'common-footer': CommonFooter
    },
    created() {
    },
    methods: {
      ExportDB() {
        ipcRenderer.send('export_database')
      }
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;

      li {
        width: 70vw;
      }
    }
  }
</style>
