<template>
  <div id="root">
    <h1>新規入所者登録</h1>
    <form v-on:submit.prevent="send" id="registration-form">
      <div id="name-form">
        <label for="family-name">姓</label>
        <input type="text" id="family-name" v-model="familyName">
        <label for="first-name">名</label>
        <input type="text" id="first-name" v-model="firstName">
      </div>
      <div id="name-ruby-form">
        <label for="family-ruby">姓(フリガナ)</label>
        <input type="text" id="family-ruby" v-model="familyNameRuby">
        <label for="first-ruby">名(フリガナ)</label>
        <input type="text" id="first-ruby" v-model="firstNameRuby">
      </div>
      <div id="sex-form">
        <label for="sex">性別</label>
        <input type="radio" name="sex" id="sex-male" value="male" v-model="sex" checked> <label for="sex-male">男</label>
        <input type="radio" name="sex" id="sex-female" value="female" v-model="sex"><label for="sex-female">女</label>
      </div>
      <div id="birthday-form">
        <label>誕生日</label>
        <date-input name="birthday" v-model="birthday"></date-input>
      </div>
      <div id="joined-at-form">
        <label>入所日</label>
        <date-input name="joined-at" v-model="joined_at"></date-input>
      </div>
      <div id="room-number-form">
        <label for="room-number">部屋番号</label>
        <input type="text" id="room-number" v-model="roomNumber">
      </div>
      <button type="submit">追加</button>
    </form>

    <common-footer></common-footer>
  </div>
</template>

<script>
  import { ipcRenderer } from 'electron'

  import CommonFooter from '../components/footer'
  import DateInput from '../components/date_input'

  export default {
    name: 'Registration',
    data() {
      return {
        familyName: null,
        firstName: null,
        familyNameRuby: null,
        firstNameRuby: null,
        sex: 'male',
        birthday: null,
        joined_at: null,
        roomNumber: null
      }
    },
    components: {
      'common-footer': CommonFooter,
      'date-input': DateInput
    },
    created() {
    },
    methods: {
      send() {
        ipcRenderer.send('register_resident', {
          name: this.familyName + ' ' + this.firstName,
          name_ruby: this.familyNameRuby + ' ' + this.firstNameRuby,
          sex: this.sex,
          birthday: this.birthday,
          joined_at: this.joined_at,
          room_number: this.roomNumber
        })
      },
      test() {
        console.log(
          {
            name: this.familyName + ' ' + this.firstName,
            name_ruby: this.familyNameRuby + ' ' + this.firstNameRuby,
            sex: this.sex,
            birthday: this.birthday,
            joined_at: this.joined_at,
            room_number: this.roomNumber
          }
        )
      }
    }
  }
</script>

<style lang="scss" scoped>
div#root {
  h1 {
    margin-left: 5%;
  }
  form {
    margin: 0 0 0 10%;
  }
}
</style>
