<template>
  <article id="root">
    <ul>
      <li v-if="!isRunning">
        <main-button v-on:click.native="runServer">
          <icon class="icon" name="play" scale="3" />サーバ起動
        </main-button>
      </li>
      <li v-else>
        <main-button v-on:click.native="stopServer">
          <icon class="icon" name="stop" scale="3" />サーバ停止
        </main-button>
      </li>
      <li>
        <link-button link="/operation-database">
          <icon class="icon" name="database" scale="3" />データベース操作
        </link-button>
      </li>
      <li>
        <link-button link="/connect-device">
          <icon class="icon" name="tablet" scale="4" />デバイス接続
        </link-button>
      </li>
    </ul>
  </article>
</template>

<script>
  import { ipcRenderer } from 'electron'
  import { mapState, mapActions } from 'vuex'

  import MainButton from '../components/button'
  import LinkButton from '../components/link_button'

  export default {
    name: 'Top',
    data() {
      return {
      }
    },
    computed: {
      ...mapState([
        "isRunning"
      ])
    },
    components: {
      "main-button": MainButton,
      "link-button": LinkButton
    },
    created() {
    },
    methods: {
      ...mapActions([
        "setStartServer",
        "setStopServer"
      ]),
      async runServer() {
        let reply = ipcRenderer.sendSync("run_server")
        this.setStartServer(reply)
      },
      async stopServer() {
        let replyMessage = ipcRenderer.sendSync("stop_server")
        this.setStopServer()
      }
    }
  }
</script>

<style lang="scss" scoped>
  article#root {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;

      li {
        width: 70vw;
      }
    }
  }
</style>
