<template>
  <div id="root">
    <button class="back-button" v-on:click="back">＜Back</button>
  </div>
</template>

<script>
  export default {
    name: 'BackButton',
    data() {
      return {
      }
    },
    components: {
    },
    created() {
    },
    methods: {
      back() {
        this.$router.go(-1)
      }
    }
  }
</script>

<style lang="scss" scoped>
div#root {
  .back-button{
    appearance: none;
    -webkit-appearance: none;
    height: 50px;
    width: 100px;
    font-size: 1.3rem;
  }
}
</style>
