<template>
  <div id="root">
    <button id="root">
      <slot></slot>
    </button>
  </div>
</template>

<script>
  export default {
    name: 'NursingHomeButton',
    data() {
      return {
      }
    },
    components: {
    },
    created() {
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  div#root {
    padding: 0;
    margin: 10px 0;

    button#root {
      appearance: none;
      border: none;
      --webkit-appearance: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      height: 15vh;
      max-height: 100px;
      min-height: 60px;
      width: 100%;
      font-size: 2em;
      background-color: #EEE;
      border-radius: 50px;
      box-shadow: 2px 2px 2px #888;

      &:focus {
        outline: none;
      }

      &:active {
        background-color: #E3E3E3;
        box-shadow: 0px 0px 1px #888;
      }

      .icon {
        margin: 0 16px 0 0;
      }
    }
  }
</style>
