<template>
  <div id="root">
    <select v-model="year" v-on:change="dataChange">
      <option v-for="year in years">{{year}}</option>
    </select>
    <select v-model="month" v-on:change="dataChange">
      <option v-for="month in months">{{month}}</option>
    </select>
    <select v-model="date" v-on:change="dataChange">
      <option v-for="date in dates">{{date}}</option>
    </select>
  </div>
</template>

<script>
  import moment from 'moment'

  export default {
    name: 'dateInput',
    data() {
      return {
        years: [],
        months: [],
        dates: [],
        year: null,
        month: null,
        date: null
      }
    },
    props: ['name'],
    created() {
      this.year = moment().format('YYYY')
      this.month = moment().format('M')
      this.date = moment().format('D')

      for(let i=1900; i<=moment().format('YYYY'); i++) this.years.push(i)
      for(let i=1; i<=12; i++) this.months.push(i)
      this.setDates(this.year, this.month)
      this.emitData()
    },
    methods: {
      setDates() {
        this.dates.length = 0
        if([2, 4, 6, 9, 11].includes(parseInt(this.month))) {
          if(parseInt(this.month) !== 2) {
            for(let i=1; i<=30; i++) this.dates.push(i)
          } else if(this.isLeapYear(this.year)) {
            for(let i=1; i<=29; i++) this.dates.push(i)
          } else {
            for(let i=1; i<=28; i++) this.dates.push(i)
          }
        } else {
          for(let i=1; i<=31; i++) this.dates.push(i)
        }
      },
      isLeapYear(year) {
        if(year%4===0 && year%100!==0 || year%400===0) {
          return true
        } else {
          return false
        }
      },
      emitData() {
        let emitValue = moment(`${this.year}-${this.month}-${this.date}`).format()

        this.$emit('input', emitValue)
      },
      dataChange() {
        this.setDates()
        this.emitData()
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
