<template>
  <footer id="root">
    <div id="left">
      <link-button link="/">Topへ</link-button>
    </div>
    <div id="center">
    </div>
    <div id="right">
    </div>
  </footer>
</template>

<script>
  import LinkButton from './link_button'

  export default {
    name: 'Footer',
    data() {
      return {
      }
    },
    components: {
      'link-button': LinkButton
    },
    created() {
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  footer#root {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 50px;

    div {
      flex-grow: 1;
    }
  }
</style>
