<template>
  <header id="root">
    <div id="left">
      <back-button></back-button>
    </div>
    <div id="center">
      <span id="state-sentence">
        {{getStateSentence}}
      </span>
      <span id="server-message">
        {{serverMessage}}
      </span>
    </div>
    <div id="right">
    </div>
  </header>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import BackButton from './back_button'

  export default {
    name: 'Header',
    data() {
      return {}
    },
    computed: {
      ...mapGetters([
        "getStateSentence"
      ]),
      ...mapState([
        "serverMessage"
      ])
    },
    components: {
      "back-button": BackButton
    },
    created() {
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  header#root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    height: 80px;
    background-color: #ddd;

    div#center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;

      span#state-sentence {
        font-size: 1.3em;
        font-weight: bold;
      }

      span#server-message {
        font-size: 1em;
      }
    }
  }
</style>
