<template>
  <div id=root>
    <main-button v-on:click.native="pressBtn">
      <slot></slot>
    </main-button>
  </div>
</template>

<script>
  import MainButton from './button'

  export default {
    name: 'LinkButton',
    data() {
      return {
      }
    },
    components: {
      'main-button': MainButton
    },
    props: ["link"],
    methods: {
      pressBtn() {
        this.$router.push(this.link)
      }
    }
  }
</script>

<style lang="" scoped>
</style>
